body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  box-sizing: border-box;
}

button {
  width: 100%;
  height: 36px;
  display: block;
  font-size: 18px;
}

.page-layout {
  min-height: 100vh;
  width: 100h;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.form {
  width: 250px;
}
.form input {
  width: 100%;
  height: 36px;
  display: block;
  font-size: 18px;
  margin: 4px 0px 16px 0;
}

.promotional-banner {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 16px;
  display: flex;
  position: fixed;
  text-align: center;
  justify-content: center;
  color: rgb(46, 82, 61);
  background-color: rgb(241, 249, 250);
}

.dashboard > .dashboard-details {
  width: 500px;
}
